@{
    ViewData["Title"] = "Home Page";
}
@model List<Shashlik.RC.Models.AppModel>

<div class="text-left">


    <a href="/Admin/CreateApp">新增应用</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>AppId</th>
                <th>App名称</th>
                <th>App描述</th>
                <th>启用/禁用</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AppId</td>
                    <td>@item.Name</td>
                    <td>@item.Desc</td>
                    <td>
                        @if (item.Enabled)
                        {
                            <label>已启用</label>
                            <a href="/Admin/Disabled/@item.AppId" class="confirm">禁用</a>
                        }
                        else
                        {
                            <label>已禁用</label>
                            <a href="/Admin/Enabled/@item.AppId" class="confirm">启用</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
