@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <p style="color:red">
            @ViewData["Errors"]
        </p>
    </div>

    <form asp-action="Pwd" class="form-horizontal">
        <div class="form-group">
            <label for="UserName" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <h3>修改密码</h3>
            </div>
        </div>
        <div class="form-group">
            <label for="OldPassword" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="旧密码">
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="Password" id="Password" placeholder="新密码">
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="确认密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>
