@using Shashlik.RC
@{
    var name = Context.User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RC远程配置中心</title>
    <link href="~/lib/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        Shashlik 远程配置中心
                    </h2>
                </div>
                <div class="col-sm-6 text-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h3>
                            @if (User.IsInRole(Roles.App))
                            {
                                <span> @User.Identity.Name&nbsp; &nbsp;<a asp-action="Pwd" asp-controller="Account">修改密码</a>&nbsp; &nbsp;</span>
                            }

                            <a asp-action="LoginOut" asp-controller="Account">退出</a>
                        </h3>
                    }
                </div>
            </div>

        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
<script type="text/javascript">
        $(function () {
            $('.confirm').click(function (ev) {
                if (!confirm("确认要执行该操作吗?")) {
                    ev.preventDefault();
                    return false;
                }
            });
        });
    </script>
@RenderSection("Scripts", required: false)
</body>
</html>